/* imports -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

/* variables -------------------------- */
:root{
    --black: #024242;
    --yellow: #FCA60F;
    --yellow-hover: #cf8300;
    --brown: #C95E20;
    --white: #f5f5f5;
}

/* resets -------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* keyframes (animations) -------------------------- */

@keyframes logoShake{    
    100% { transform: rotate(0deg) }
    90% { transform: rotate(-3deg) }
    80% { transform: rotate(3deg) }
    70% { transform: rotate(-3deg) }
    60% { transform: rotate(0deg) }
    50% { transform: rotate(3deg) }
    40% { transform: rotate(-2deg) }
    30% { transform: rotate(2deg) }
    20% { transform: rotate(-2deg) }
    10% { transform: rotate(2deg) }
    0% { transform: rotate(-2deg) }
}

@keyframes slideWelcome{    
    0% { transform: translateX(-100%) }
    70% { transform: translateX(0) }
}

@keyframes slideImage{    
    100% { transform: translateX(0) }
    0% { transform: translateX(100%) }
}

body{
    font-family: 'Nunito', sans-serif;
}

/* header -------------------------- */
.header-wrapper{
    box-shadow: 0px 0px 10px #aaa;
}
header{
    max-width: 900px;
    margin: 0 auto; 
    min-height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    animation: 0.5s ease-in-out 2s 2 logoShake;
}
header ul{
    display: flex;
}
header ul li{
    margin: 10px 15px;
}
header ul li a{
    margin: 10px 20px;
    color: var(--black);
    font-weight: 600;
}

/* main -------------------------- */
.main-wrapper{    
    background: url(assets/forma1.svg) 50px no-repeat fixed, 
                url(assets/forma2.svg) 800px no-repeat fixed;
    /* background-position: 300px; */
    background-size: 300px, 500px, auto;    
}

main{
    height: 500px;
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 0 20px;
}

.welcome{
    max-width: 400px;
    color: var(--black);
    padding: 0 20px;
}
.welcome h2{
    animation: 1.5s ease-out 0s 1 slideWelcome;

    font-size: 1.7rem;
}
.welcome button{
    animation: 1.8s ease-out 0s 1 slideWelcome;

    width: 250px;
    height: 50px;

    background: var(--yellow);
    color: white;

    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;

    border: none;
    border-radius: 5px;

    margin-top: 70px;
    outline: none;
}

.welcome button:hover{
    opacity: 0.9;
    background: var(--yellow-hover);
}

.social{
    animation: 1.5s ease-out 0s 1 slideWelcome;
    width: 300px;
    margin: 30px 5px;
}

.dark-mode-span{
    position: absolute;
    margin-left: 120px;
    margin-top: 5px;
}
.dark-mode{
    height: 17px;
    width: 17px;
}

.social img{
    padding: 0px 5px;
}

.image{
    padding: 0px 50px;
}
.image img{    
    height: 270px;
    margin-top: -90px;
}
.social-mobile{
    display: none;
}

.scroll{
    margin-top: 10px;
    text-align: center;
}
.scroll p{
    font-weight: bold;
}


/* mobile -------------------------- */
@media screen and (max-width: 620px){

    header{
        display: block;
        text-align: center;
    }
    .logo{        
        padding-top: 18px;
    }
    .logo img{        
        width: 40%;
    }
    header ul{
        padding: 10px;
    }
    header ul li{
        margin: auto;
    }

    .image{
        padding: 0px 15px;
    }
    .image img{    
        height: 200px;
    }

    .welcome{        
        margin: 0 auto;
    }
    .welcome h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 515px){

    .image{
        display: none;
    }
    
    main{
        min-height: 100%;
    }
    
    .welcome{        
        margin: 0 auto;
        margin-top: -100px;
        text-align: center;
    }
    .welcome h2{
        font-size: 1.4rem;
        padding: 19px;
        margin-top: 0px;
    }
    .welcome button{
        font-size: 1rem;
        margin-top: 30px;
        height: 40px;
        width: 220px;
    }
    
    .welcome button:hover{
        opacity: 0.9;
        background: var(--yellow-hover);
    }
    
    .social{
        display: none;
    }
    
    .dark-mode-span{
        position: absolute;
        margin-left: 125px;
        margin-top: 7px;
    }
    .image{
        padding: 0px 50px;
    }
    .image img{    
        height: 270px;
        margin-top: -90px;
    }
    .scroll{
        display: none;
    }

    .social-mobile{
        margin-top: 15px;
        display: flex;        
        justify-content: center;
        align-items: center;
    }

    .social-mobile img{
        padding: 0px 5px;
    }
}

@media screen and (max-width: 400px){
    .welcome h2{
        font-size: 1.2rem;
    }
}

/* darkmode -------------------------- */
.dark-body{
    background: #146b6b;
}
.dark-header-wrapper{
    background: var(--black);
    box-shadow: 0px 0px 10px #888;
}
.dark-logo-img{
    filter: invert(100%);
}
.dark-link{
    color: var(--white);
}
.dark-welcome{
    color: var(--white);
}
.dark-social{
    filter: brightness(8);
}
.dark-scroll{
    filter: invert(0.8);
}