/* imports -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

/* variables -------------------------- */
:root{
    --black: #024242;
    --yellow: #FCA60F;
    --yellow-hover: #cf8300;
    --brown: #C95E20;
}

/* resets -------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
}

/* header -------------------------- */
.header-wrapper{
    box-shadow: 0px 0px 10px #aaa;
}
header{
    max-width: 900px;
    margin: 0 auto; 
    min-height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
header ul{
    display: flex;
}
header ul li{
    margin: 10px 15px;
}
header ul li a{
    margin: 10px 20px;
    color: var(--black);
    font-weight: 600;
}

/* main -------------------------- */
.main-wrapper{    
    background: url(assets/forma1.svg) 50px no-repeat fixed, 
                url(assets/forma2.svg) 800px no-repeat fixed;
    /* background-position: 300px; */
    background-size: 300px, 500px, auto;    
}
main{
    height: 500px;
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    max-width: 400px;
    color: var(--black);
}
.welcome h2{
    font-size: 1.7rem;
}
.welcome button{
    width: 250px;
    height: 50px;

    background: var(--yellow);
    color: white;

    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;

    border: none;
    border-radius: 5px;

    margin-top: 70px;
    outline: none;
}

.welcome button:hover{
    opacity: 0.9;
    background: var(--yellow-hover);
}

.social{
    width: 300px;
    margin: 30px 5px;
}

.social img{
    padding: 0px 5px;
}
.image{
    padding: 0px 50px;
}
.image img{    
    height: 270px;
    margin-top: -90px;
}

.social-mobile{
    display: none;
}

/* main -------------------------- */
.scroll{
    text-align: center;
}
.scroll p{
    font-weight: bold;
}


/* mobile -------------------------- */
@media screen and (max-width: 570px){

    .header-wrapper{
    }
    header{
        display: block;
        text-align: center;
    }
    .logo{        
        padding-top: 18px;
    }
    .logo img{        
        width: 40%;
    }
    header ul{
        padding: 10px;
    }
    header ul li{
        margin: auto;
    }
    .image{
        display: none;
    }
    
    main{
        min-height: 100%;
    }
    
    .welcome{        
        margin: 0 auto;
        margin-top: -100px;
        text-align: center;
    }
    .welcome h2{
        font-size: 1.2rem;
        padding: 19px;
        margin-top: 0px;
    }
    .welcome button{
        font-size: 1rem;
        margin-top: 30px;
        height: 40px;
        width: 220px;
    }
    
    .welcome button:hover{
        opacity: 0.9;
        background: var(--yellow-hover);
    }
    
    .social{
        display: none;
    }
    
    .image{
        padding: 0px 50px;
    }
    .image img{    
        height: 270px;
        margin-top: -90px;
    }
    .scroll{
        display: none;
    }

    .social-mobile{
        display: flex;        
        justify-content: center;
        align-items: center;
    }

    .social-mobile img{
        padding: 0px 5px;
    }
}

@media screen and (max-width: 400px){

}

